.footer_main_wrapper {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 2rem;
}

.footer_title_container {
    display: flex;
    gap: 10px;
    font-size: 14px;
    align-items: center;

}

.footer_title {
    font-weight: 700;
}

.footer_icon {
    color: red;
}

.footer_body {
    margin-top: 5px;
    width: 80%;
    line-height: 1rem;
    font-weight: 500;
}